#bg1{
	background-image: url("UCCPhoto.jpg");
	height: 765px;
}

.quiz > div{
    height:100px;
}
.quiz > div > select{
    display:block;

}
.inputbox{
	width:10%;
	height:100%;
}






















